datasets/data_*

src/*[.pt|.onnx]
datasets/*
!datasets/sample_mini
!datasets/sample_small
runs/detect/*
!runs/detect/train
**/yolov*
src/datasets
src/detection_scripts/datasets
ARCHIVE
*runs/
*src/simulator/gifs/*
*src/simulator/encounter_sets/simulation_encs/*

__pycache__/
.vscode
.ipynb_checkpoints
.DS_Store

build/

*.h5